.h1 {
	text-align: center;
	margin: 40px;
}

.ozgecmis {
	margin-left: 40px;
	margin-right: 40px;
}

.h5 {
	background-color: gray;
}

.b {
	margin-left: 15px;
	font-size: 15px;
}
.h6 {
	margin-bottom: 10px;
}
